<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${jobs} and ${jobs.size()}">Currently No Jobs</p>


<table class="table table-bordered" >

    <tr>
        <th>Car</th>
        <th>Date</th>
        <th>Task</th>
        <th>Notes</th>
        <th>Technician</th>
    </tr>

    <tr th:each="job : ${jobs}">
        <td th:text="${car.year} + ' ' + ${car.make} + ' ' + ${car.model}"></td>
        <td th:text="${job.date}"></td>
        <td th:text="${job.task}"></td>
        <td th:text="${job.note}"></td>
        <td th:text="${tech.name}"></td>
    </tr>

</table>
<a href="/jobs/add" class="btn btn-primary">Add</a>
<a href="/jobs/delete" class="btn btn-danger">Delete</a>

</body>
</html>