<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${customers} and ${customers.size()}">Currently No Customers</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>E-mail</th>
    </tr>

    <tr th:each="customer : ${customers}">
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.email}"></td>
    </tr>

</table>

|<a href="/customers/add">Add</a>|

</body>
</html>