<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

<style>
#sessions {
text-align: right;
}
#tools {
text-align: left;
}

</style>
</head>
<body>

<nav th:fragment="navigation" id="tools">
    <a href="/autoworld">Home</a> |
    <a href="/techs">Technicians</a> |
    <a href="/cars">Cars</a> |
    <a href="/customers">Customers</a> |
    <a href="/jobs">Jobs</a>
</nav>

<nav th:fragment="navigation" id="sessions">
    |<a href="/login">Log-In</a>|
    <a href="/register">Register</a>|
    <a href="/logout">Log Out</a>|
</nav>


</body>
</html>