<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    |<a href="/autoworld">Home</a>|
    <a href="/autoworld/techs">Technicians</a>|
    <a href="/autoworld/cars">Cars</a>|

    |<a href="/login">Log-in</a>/
    <a href="/register">Register</a>/
    <a href="/logout">Log-out</a>|
</nav>


</body>
</html>