<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
#sessions {
text-align: right;
}
#tools {
text-align: left;
}

</style>
</head>
<body>

<nav th:fragment="navigation" id="tools">
    |<a href="/autoworld">Home</a>|
    <a href="/techs">Technicians</a>|
    <a href="/cars">Cars</a>|
    <a href="/customers">Customers</a>
</nav>

<nav th:fragment="navigation" id="sessions">
    |<a href="/login">Log-In</a>|
    <a href="/register">Register</a>|
    <a href="/logout">Log Out</a>|
</nav>


</body>
</html>