<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${techs} and ${techs.size()}">Currently No Technicians</p>


<table class="table">

    <tr>
        <th>Name</th>
    </tr>

    <tr th:each="tech : ${techs}">
        <td th:text="${tech.name}"></td>
    </tr>

</table>

|<a href="/techs/add">Add</a>|

</body>
</html>